%h3.page-title
  新建合并请求

= form_for [@project.namespace.becomes(Namespace), @project, @merge_request], url: project_new_merge_request_path(@project), method: :get, html: { class: "merge-request-form js-requires-input" } do |f|
  - if params[:nav_source].present?
    = hidden_field_tag(:nav_source, params[:nav_source])
  .hide.alert.alert-danger.mr-compare-errors
  .js-merge-request-new-compare.row{ 'data-source-branch-url': project_new_merge_request_branch_from_path(@source_project), 'data-target-branch-url': project_new_merge_request_branch_to_path(@source_project) }
    .col-lg-6
      .card.card-new-merge-request
        .card-header
          来源分支
        .card-body.clearfix
          .merge-request-select.dropdown
            = f.hidden_field :source_project_id
            = dropdown_toggle @merge_request.source_project_path, { toggle: "dropdown", 'field-name': "#{f.object_name}[source_project_id]", disabled: @merge_request.persisted? }, { toggle_class: "js-compare-dropdown js-source-project" }
            .dropdown-menu.dropdown-menu-selectable.dropdown-source-project
              = dropdown_title("选择来源分支")
              = dropdown_filter("搜索项目")
              = dropdown_content do
                = render 'projects/merge_requests/dropdowns/project',
                  projects: [@merge_request.source_project],
                  selected: f.object.source_project_id
          .merge-request-select.dropdown
            = f.hidden_field :source_branch
            = dropdown_toggle f.object.source_branch || _("Select source branch"), { toggle: "dropdown", 'field-name': "#{f.object_name}[source_branch]", 'refs-url': refs_project_path(@source_project), selected: f.object.source_branch }, { toggle_class: "js-compare-dropdown js-source-branch monospace" }
            .dropdown-menu.dropdown-menu-selectable.js-source-branch-dropdown.git-revision-dropdown
              = dropdown_title(_("Select source branch"))
              = dropdown_filter(_("Search branches"))
              = dropdown_content
              = dropdown_loading
        .card-footer
          .text-center= icon('spinner spin', class: 'js-source-loading')
          %ul.list-unstyled.mr_source_commit

    .col-lg-6
      .card.card-new-merge-request
        .card-header
          目标分支
        .card-body.clearfix
          - projects = target_projects(@project)
          .merge-request-select.dropdown
            = f.hidden_field :target_project_id
            = dropdown_toggle f.object.target_project.full_path, { toggle: "dropdown", 'field-name': "#{f.object_name}[target_project_id]", disabled: @merge_request.persisted? }, { toggle_class: "js-compare-dropdown js-target-project" }
            .dropdown-menu.dropdown-menu-selectable.dropdown-target-project
              = dropdown_title("选择目标分支")
              = dropdown_filter("搜索项目")
              = dropdown_content do
                = render 'projects/merge_requests/dropdowns/project',
                  projects: projects,
                  selected: f.object.target_project_id
          .merge-request-select.dropdown
            = f.hidden_field :target_branch
            = dropdown_toggle f.object.target_branch || _("Select target branch"), { toggle: "dropdown", 'field-name': "#{f.object_name}[target_branch]", 'refs-url': refs_project_path(f.object.target_project), selected: f.object.target_branch }, { toggle_class: "js-compare-dropdown js-target-branch monospace" }
            .dropdown-menu.dropdown-menu-selectable.js-target-branch-dropdown.git-revision-dropdown
              = dropdown_title(_("Select target branch"))
              = dropdown_filter(_("Search branches"))
              = dropdown_content
              = dropdown_loading
        .card-footer
          .text-center= icon('spinner spin', class: "js-target-loading")
          %ul.list-unstyled.mr_target_commit

  - if @merge_request.errors.any?
    = form_errors(@merge_request)
  = f.submit '比较分支后继续', class: "btn btn-success mr-compare-btn"
