- if @project.pages_deployed?
  .card
    .card-header
      访问网页
    .card-body
      %p
        %strong
          = _("Your pages are served under:")

      %p
        = external_link(@project.pages_url, @project.pages_url)

      - @project.pages_domains.each do |domain|
        %p
          = external_link(domain.url, domain.url)
    .card-footer.alert-primary
      = _("It may take up to 30 minutes before the site is available after the first deployment.")
