- verification_enabled = Gitlab::CurrentSettings.pages_domain_verification_enabled?

- if can?(current_user, :update_pages, @project) && @domains.any?
  .card
    .card-header
      域名 (#{@domains.count})
    %ul.list-group.list-group-flush.pages-domain-list{ class: ("has-verification-status" if verification_enabled) }
      - @domains.each do |domain|
        %li.pages-domain-list-item.list-group-item.d-flex.justify-content-between
          - if verification_enabled
            - tooltip, status = domain.unverified? ? [_('Unverified'), 'failed'] : [_('Verified'), 'success']
            .domain-status.ci-status-icon.has-tooltip{ class: "ci-status-icon-#{status}", title: tooltip }
              = sprite_icon("status_#{status}", size: 16 )
          .domain-name
            = external_link(domain.url, domain.url)
            - if domain.subject
              %div
                %span.badge.badge-gray Certificate: #{domain.subject}
                - if domain.expired?
                  %span.badge.badge-danger Expired
          %div
            = link_to '详细信息', project_pages_domain_path(@project, domain), class: "btn btn-sm btn-grouped"
            = link_to '删除', project_pages_domain_path(@project, domain), data: { confirm: '您确定要删除这个域名？'}, method: :delete, class: "btn btn-remove btn-sm btn-grouped"
        - if verification_enabled && domain.unverified?
          %li.list-group-item.bs-callout-warning
            #{domain.domain} is not verified. To learn how to verify ownership, visit your
            #{link_to 'domain details', project_pages_domain_path(@project, domain)}.
